*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colored_background{
    background-image: url('imgs/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
     box-shadow: inset 0 0 0 1000px rgba(25, 173, 218, 0.233);
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

#top{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    
   
    
}

header{
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.logo{
   height: 1.1rem;
   margin-left: 1rem;
   margin-top: 0.3rem;

}

.free_top:hover{
    background-color: #FF52C1;
    color: #fff;
}

.free_top{
    font-size: 0.8rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right:1rem ;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #00252e;
     margin-right: 1rem;
    font-weight: bold;
      font-family: 'Poppins', sans-serif;
      -webkit-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.14); 
      box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.14);
}

#words_and_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#words_and_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#words_and_button h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}


#words_and_button p{
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    line-height: 1.5rem;
    max-width: 429px;
    margin-bottom: 1.8rem;
}
.free_pink{
    background-color: #FF52C1;
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 17rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.free_pink:hover{
    background-color: cornflowerblue;
    color: white;
}

#image{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.mockup{
    width: 85%;
    max-width: 620px;
}



#middle{

    
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
 
}

.img_and_words{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.cartoon_image{
    width: 18.5rem;
}

.words{
    text-align: center;
    max-width: 500px;
    
}

.words h2{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.words p{
    color: #808E9A;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
}


.img_and_words2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.cartoon_image2{
    width: 18.5rem;
}

.words2{
    text-align: center;
    max-width: 500px;
    
}

.words2 h2{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.words2 p{
    color: #808E9A;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
}

footer{
    background-color: #00252E;
    width: 100%;
    margin-top: 8rem;
}

.white-logo{
width: 14rem;
margin-top: 2rem;
margin-bottom: 2rem;
padding-left: 2rem;
}



#contact_info{
    display: flex;
    flex-direction: column;
   position: relative;

    
   
}

#ready{
    position: relative;
    top: -3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  width: 90%;
  align-self: center;
 
}

#ready h3{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}
.location{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    width: 85%;
    line-height: 1.2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    
}
.pin{
    height: 1.1rem;
    margin-right: 1rem;
   
}

.phone-icon{
    height: 1.1rem;
    margin-right: 1rem;
}

.phone{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.email{
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.email-icon{
    height: 1.1rem;
    margin-right: 1rem;
}

#info{
    color: white;
    font-size: 0.9rem;
    margin-top: 4rem;
}

#info p{
    margin-bottom: 2rem;
    padding-left: 2rem;
}

#info p:hover{
color: #FF52C1;
cursor: pointer;
}

#socials{
    display: flex;
    justify-content: center;
 
}

.social-icon{
    width: 1.4rem;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(29deg) brightness(115%) contrast(100%);
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
}

.social-icon:hover{
    filter: invert(50%) sepia(55%) saturate(2294%) hue-rotate(292deg) brightness(99%) contrast(104%);
    cursor: pointer;
}

#copy-right{
    color: white;
    text-align: center;
    margin-top:2rem ;
    margin-bottom: 2rem;
}

.footer-1{
    max-width: 500px;
 }

@media  screen and (min-width: 1024px) {


    #content{
        display: flex;
        flex-direction: column;
       max-width: 1440px;
     
    }
    .logo{
        margin-left: 5rem;
        height: 2rem;
    }

    .free_top{
        font-size: 0.8rem;
        margin-right: 5rem;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #colored_background{
        background-image: url('imgs/bg-hero-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
         box-shadow: inset 0 0 0 1000px rgba(25, 173, 218, 0.233);
    }

    #words_and_image{
 flex-direction: row;
 justify-content: center;
}
#words_and_button{
    text-align: left;
    align-items: flex-start;
    padding-left: 1.5rem;
 
    }
#words_and_button h1{
    font-size: 2rem;
    line-height: 3rem;
}

#words_and_button p{
    padding: 0rem;
}

#image{
    margin-top: 0rem;
}

.mockup{
    max-width: 550px;
}

.free_pink{
    text-align: center;
}

.img_and_words{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    margin-top: 4rem;
}

.img_and_words2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    margin-top: 4rem;
}

.image_description{
order: 5;

}
.words{
    text-align: left;
    max-width: 450px;
    
  
    
}

.words2{
    text-align: left;
    max-width:450px ;
}

.words p{
    padding: 0rem;
    line-height: 1.8rem;
}

.words2 p{
    padding: 0rem;
    line-height: 1.8rem;
}

.cartoon_image{
    width: 25.5rem;
}

.cartoon_image2{
    width:  25.5rem;
}

#middle{
    align-items: unset;
}


#ready{
max-width: 1024px;
 
}

#ready h3{
    font-size: 2rem;
   
}

#ready .free_pink{
    font-size: 1.2rem;
}

#small-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.footer-1{
   max-width: 400px;
}

#info{
    display: flex;
    flex-direction: row;
    margin-right: 8rem;
  
   
    
}

.icon-copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.white-logo{
  padding-left: 2rem;
    }
.location{
    padding-left: 2rem;
}

.phone{
    padding-left: 2rem;
}

.email{
    padding-left: 2rem;
}






}

@media  screen and (min-width: 1440px){
    .mockup{
        max-width: 900px;
    }

    #words_and_button h1{
        font-size: 2.9rem;
        line-height: 4rem;
       
    }

    #words_and_button p{
       font-size: 1.3rem;
       max-width: 650px;
       line-height: 2rem;
    }

    .img_and_words{
        width: 1440px;
        
    }

    .img_and_words2{
        width: 1440px;
        
    }

    .cartoon_image{
        width: 30.5rem;
    }


    .cartoon_image2{
        width: 30.5rem;
    }

    .words h2{
        font-size: 2rem;
    }

    .words2 h2{
        font-size: 2rem;
    }

    .words p{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .words2 p{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .words{
        
        max-width: 600px;
        
    }

    .words2{
        
        max-width: 600px;
        
    }

    footer{
        display: flex;
        justify-content: center;
    }

   

    #middle{
        align-items: center;
    }

    #contact_info{
        width:  1440px;
    }



    .white-logo{
        padding-left: 0rem;
          }
      .location{
          padding-left: 0rem;
      }
      
      .phone{
          padding-left: 0rem;
      }
      
      .email{
          padding-left: 0rem;
      }



   



    



    
}