*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top{
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-image: url('imgs/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    
   
    
}

header{
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.logo{
   height: 1.1rem;
   margin-left: 1rem;
   margin-top: 0.3rem;

}

.free_top{
    font-size: 0.8rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right:1rem ;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #00252e;
    border: 1px solid #00252e;
    margin-right: 1rem;
    font-weight: bold;
    
}