*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top{
    display: flex;
    flex-direction: column; 
    height: 100vh;
    background-image: url('imgs/bg-hero-mobile.svg');
   background-repeat: no-repeat;
   background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(25, 173, 218, 0.233);
    
   
    
}

header{
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}

.logo{
   height: 1.1rem;
   margin-left: 1rem;
   margin-top: 0.3rem;

}

.free_top{
    font-size: 0.8rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right:1rem ;
    border-radius: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #00252e;
     margin-right: 1rem;
    font-weight: bold;
      font-family: 'Poppins', sans-serif;
      -webkit-box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.14); 
      box-shadow: 0px 4px 9px 2px rgba(0,0,0,0.14);
}

#words_and_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#words_and_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#words_and_button h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}


#words_and_button p{
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    line-height: 1.5rem;
    max-width: 429px;
    margin-bottom: 1.8rem;
}
.free_pink{
    background-color: #FF52C1;
    color: #FFF;
    text-decoration: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 17rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
}

#image{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.mockup{
    width: 85%;
    max-width: 620px;
}



@media  screen and (min-width: 1024px) {
body{
    background-image: url('imgs/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
     box-shadow: inset 0 0 0 1000px rgba(25, 173, 218, 0.233);
}

    #content{
        display: flex;
        flex-direction: column;
       max-width: 1440px;
     
    }
    .logo{
        margin-left: 5rem;
        height: 2rem;
    }

    .free_top{
        font-size: 0.8rem;
        margin-right: 5rem;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    #top{
   background-image: none;
   box-shadow: none;
}

    #words_and_image{
 flex-direction: row;
 justify-content: center;
}
#words_and_button{
    text-align: left;
    align-items: flex-start;
    padding-left: 1.5rem;
 
    }
#words_and_button h1{
    font-size: 2rem;
    line-height: 3rem;
}

#words_and_button p{
    padding: 0rem;
}

#image{
    margin-top: 0rem;
}

.mockup{
    max-width: 550px;
}

.free_pink{
    text-align: center;
}
}

@media  screen and (min-width: 1440px){
    .mockup{
        max-width: 900px;
    }

    #words_and_button h1{
        font-size: 2.9rem;
        line-height: 4rem;
       
    }

    #words_and_button p{
       font-size: 1.3rem;
       max-width: 650px;
       line-height: 2rem;
    }
}